*
{
  padding: 0px;
  margin: 0px;

  
}

.mapboxgl-popup h3 {
        font-weight: 400;
        color: green;
       
    }

 


    .mapboxgl-popup {
        max-width: 200px;
       
    }


